* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0 !important;
}

ul {
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

.ham-toggle {
    position: absolute;
    top: 2.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.ham-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.shethink_logo {
    width: 89px;
    height: 92px;
}

.shethink_logo img {
    width: 100%;
    height: 100%;
}

.main_navbar {
    display: flex;
    justify-content: space-between;
    background: #000000;
    height: 90px;
}

body {
    margin: 0;
}

.navbar_items {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: white;
}

.navbar_parent {
    display: flex;
    align-items: center;
    width: 65%;
}

.navbar_items a {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}

.carousel-item img {
    width: 100%;
}

.second_image {
    padding: 1rem;
    transform: translateY(3rem);
}

.second_image img {
    width: 100%;
}

section .p1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    color: #339C2A;
    text-align: center;
}

section .p2 {
    padding: 0px 104px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #3A3A3A;
    text-align: center;
    margin-top: 0.5rem;
}

section .p1 p, section .p2 p {
    margin: 0;
}

.basic_intro {
    margin-top: 4rem;
}

.basic_intro_child {
    justify-content: space-between;
    /* margin-top: 4rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 6rem;
}

.rise_to_height {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    color: #339C2A;
    text-align: center;
}

.basic_intro_desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-transform: capitalize;
    color: #3A3A3A;
    text-align: center;
    margin-top: 0.5rem;
}

.two_paragraph {
    margin-top: 2rem;
}

.downImg_section {
    display: flex;
    flex-direction: column;
    grid-row-gap: 4rem;
    margin: 3% 2% 2% 2%;
}

.downImg_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    grid-row-gap: 3rem;
}

.img_container div:nth-child(2) {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-end;
    width: 82%;
}

.img-con img {
    width: 55px;
}

.img_container div:nth-child(2) p {
    width: 100%;
}

.downImg_section p {
    margin: 0;
}

.img_container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.basic_info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
    color: #3A3A3A;
    font-size: 22px;
}

.advanced_info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    text-transform: capitalize;
    color: #3A3A3A;
}

.number_div {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    /* line-height: 32px; */
    text-transform: capitalize;
    color: #3A3A3A;
    font-size: 22px;
}

.description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    text-transform: capitalize;
    color: #3A3A3A;
}

.functionality_container {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
    margin: 0% 0% 4% 0%;
    margin-top: 3rem;
}

.functionality_div {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 100px;
}

#list__func {
    padding-left: 1rem !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    text-transform: capitalize;
    color: #3A3A3A;
}

.functionality_div_parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    grid-row-gap: 2rem;
}

.why_we {
    width: 100%;
}

.why_we_heading {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    color: #339C2A;
    text-align: center;
}

.why-we_ans {
    text-align: center;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    color: #3A3A3A;
    padding: 0px 80px;
    margin-top: 0.5rem;
}

.functionality_div>div>img {
    width: 4.1rem;
    height: 42px;
}

.functionality_div div:nth-child(2) {
    width: 81%;
}

.short_desc {
    width: 100%;
}

.brand_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 3rem;
    background-color: #57805354;
    height: 150px;
}

.brand_container>div {
    width: 85px;
}

.brand_container>div>img {
    width: 100%;
}

/* corousal_section */

.corousal {
    position: relative;
    height: 540px;
    width: 100%;
    /* margin: 0 auto; */
}

.corousal_button_parent {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.corousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.corousal_track-container {
    background-color: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.corousal_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.corousal_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.corousal_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background: transparent; */
    border: 0;
    cursor: pointer;
}

.corousal_button-left {
    left: 15px;
    position: absolute;
    z-index: 100;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: #171D22;
}

.corousal_button-right {
    right: 15px;
    position: absolute;
    z-index: 100;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: #171D22;
}

.corousal_button .fa {
    color: white !important;
}

.corousal_button img {
    width: 12px;
}

.corousal_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    left: 45.5%;
    bottom: 4%;
}

.corousal_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0, 0.3);
    margin: 0 12px;
    cursor: pointer;
}

.corousal_indicator.current-slide {
    background: rgb(0, 0, 0, .75);
}

.is-hidden {
    display: none;
}

.first_img img {
    width: 40px;
}

/* accordian */

.acccordian_self-made {
    padding: 3rem;
    padding: 1rem 3rem 3rem 3rem;
}

.accordion-item {
    margin-top: 1rem;
}

.accordion-button_self-made {
    padding-left: 48px;
}

.question_icon {
    font-weight: 900;
    margin-top: 0.8rem;
    left: 4rem;
    position: absolute;
    z-index: 1;
    width: 30px;
    background: green;
    border-radius: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-button_self-made button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.question_icon .fas {
    color: white !important;
}

.about_us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
}

.about_us_heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    color: #339C2A;
    text-align: center;
}

.about_us_paragraph p {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    color: #3A3A3A;
    padding: 0px 90px;
    margin-top: 0.5rem;
}

.portfolio {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.portfolio_child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    color: #339C2A;
    text-align: center;
}

.portfolio_desc {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    color: #3A3A3A;
    padding: 0 80px;
    margin-top: 0.5rem;
}

/* last section */

.last-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.contact {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 30px;
    /* identical to box height, or 108px */
    text-transform: capitalize;
    color: #339C2A;
    margin-bottom: 0;
}

.contact-desc {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #3A3A3A;
    padding: 0 2rem;
    margin-top: 0.5rem;
}

.image_with_para_parent {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}

.image_with_para {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 33%;
}

.image_with_para div img {
    width: 60px;
}

.some_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 48px */
    text-align: center;
    text-transform: capitalize;
    color: #A8A8A8;
}

.some_detail p {
    margin-bottom: 0;
}

.some_detail_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    text-transform: capitalize;
    color: #3A3A3A;
}

.line {
    width: 1px;
    background-color: black;
    height: 150px;
}

/* responsiveness */

@media (max-width: 992px) {
    .img_container div:nth-child(2) {
        width: 74%;
    }
    .functionality_div div:nth-child(2) {
        width: 74%;
    }
    .brand_container {
        padding: 30px;
    }
    .functionality_div {
        width: 46%;
    }
    .functionality_container {
        padding: 0rem 2rem;
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .about_us_paragraph p {
        padding: 0 2rem;
        text-align: justify;
    }
    .functionality_div {
        height: 163px;
    }
    .about_us {
        margin-top: 6rem;
    }
    .basic_intro_child {
        padding: 0rem 2rem;
    }
    .basic_intro_desc {
        margin-top: 0.5rem;
        text-align: justify;
    }
    .two_paragraph {
        margin-top: 2rem;
    }
    section .p2 {
        padding: 0px 2rem;
        margin-top: 0.5rem;
        text-align: justify;
    }
    .why-we_ans {
        padding: 0 0rem;
        margin-top: 0.5rem;
    }
    .portfolio {
        margin-top: 2rem;
    }
    .portfolio_desc {
        padding: 0 2rem;
        margin-top: 0.5rem;
        text-align: justify;
    }
    .last-section {
        margin-top: 2rem;
    }
    .contact-desc {
        margin-top: 0.5rem;
    }
    .image_with_para_parent {
        margin-top: 0.5rem;
    }
}

@media (max-width: 768px) {
    .navbar_parent {
        display: none;
    }
    .rise_to_height {
        font-size: 25px;
    }
    .basic_intro_child {
        padding: 0rem 2rem;
    }
    .basic_intro_desc {
        margin-top: 0.5rem;
        font-size: 20px;
    }
    .main_navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_parent {
        width: 100%;
        background: black;
        z-index: 1;
    }
    .navbar_parent.active {
        display: flex;
        margin: -1px;
    }
    .navbar_items {
        flex-direction: column;
    }
    .navbar_items li {
        padding: 5px;
    }
    .ham-toggle {
        display: flex;
    }
    .two_paragraph {
        margin-top: 2rem;
    }
    section .p1 {
        font-size: 25px;
    }
    .corousal {
        height: 383px;
    }
    section .p2 {
        font-size: 20px;
        padding: 0 2rem;
        margin-top: 0.5rem;
    }
    .why_we_heading {
        font-size: 25px;
    }
    .why-we_ans {
        font-size: 20px;
        padding: 0 0rem;
        margin-top: 0.5rem;
    }
    .about_us_heading {
        font-size: 25px;
    }
    .about_us {
        margin-top: 9rem;
        font-size: 25px;
    }
    .about_us_paragraph p {
        padding: 0 2rem;
        font-size: 20px;
        margin-top: 0.5rem;
    }
    .portfolio_desc {
        padding: 0 2rem;
        margin-top: 0.5rem;
        font-size: 20px;
    }
    .portfolio_child {
        font-size: 25px;
    }
    .img-con img {
        width: 75px;
    }
    .img_container {
        width: 47%;
    }
    .functionality_div {
        width: 49%;
    }
    .functionality_div div:nth-child(2) {
        width: 70%;
    }
    .number_div {
        font-size: 23px;
    }
    .description {
        font-size: 15px;
    }
    .functionality_container {
        padding: 0rem 2rem;
    }
    .brand_container>div {
        width: 73px;
    }
    .contact {
        font-size: 25px;
        margin-bottom: 0;
    }
    .contact-desc {
        /* padding: 1rem; */
        padding: 0 2rem;
        margin-top: 0.5rem;
        font-size: 20px;
    }
    .image_with_para>div>img {
        width: 70px;
    }
    .img_container div:nth-child(2) {
        width: 70%;
    }
    .basic_info {
        font-size: 23px;
    }
    .image_with_para_parent {
        margin-top: 0.5rem;
    }
    .functionality_div>div>img {
        width: 75px;
    }
    .portfolio {
        margin-top: 2rem;
    }
    .last-section {
        margin-top: 2rem;
    }
}

@media (max-width: 576px) {
    section .p1 {
        font-size: 20px;
    }
    section .p2 {
        padding: 0px 2rem;
        font-size: 16px;
        text-align: start;
        margin-top: 0.5rem;
    }
    .basic_intro_child {
        padding: 0 2rem;
    }
    .navbar_items a {
        font-size: 14px;
    }
    .rise_to_height {
        font-size: 20px;
    }
    .basic_intro_desc {
        font-size: 16px;
        text-align: start;
        margin-top: 0.5rem;
    }
    .why_we_heading {
        font-size: 20px;
    }
    .about_us {
        margin-top: 8rem;
    }
    .portfolio {
        margin-top: 2rem;
    }
    .basic_info {
        font-size: 20px;
    }
    .advanced_info {
        font-size: 14px;
    }
    .img_container {
        width: 87%;
    }
    .img-con img {
        width: 4rem;
    }
    .first_img img {
        width: 42px;
    }
    .img_container div:nth-child(2) {
        width: 74%;
    }
    .corousal {
        height: 329px;
    }
    .downImg_container {
        grid-row-gap: 2rem;
    }
    .functionality_container {
        padding: 0rem 2.5rem;
    }
    .functionality_div {
        width: 100%;
        height: 84px;
    }
    .why-we_ans {
        padding: 0;
        font-size: 16px;
        text-align: start;
        margin-top: 0.5rem;
    }
    .two_paragraph {
        margin-top: 2rem;
    }
    .about_us_heading {
        font-size: 20px;
    }
    .portfolio_child {
        font-size: 20px;
    }
    .portfolio_desc {
        font-size: 16px;
    }
    .description {
        font-size: 14px;
    }
    .short_desc {
        width: 74%;
    }
    .functionality_div div:nth-child(2) {
        width: 67%;
    }
    .number_div {
        font-size: 20px;
    }
    .portfolio_desc {
        padding: 0 2rem;
        font-size: 16px;
        margin-top: 0.5rem;
        text-align: start;
    }
    .about_us_paragraph p {
        padding: 0 2rem;
        margin-top: 0.5rem;
        font-size: 16px;
        text-align: start;
    }
    .functionality_div>div>img {
        width: 3rem;
    }
    .contact {
        font-size: 20px;
        margin-bottom: 0;
    }
    .contact-desc {
        font-size: 16px;
        text-align: start;
    }
    .image_with_para>div>img {
        width: 26px;
    }
    .some_detail {
        font-size: 10px;
    }
    .some_detail_description {
        font-size: 10px;
    }
    .line {
        /* height: 130px; */
        display: none;
    }
    .last-section {
        margin-top: 2rem;
    }
    .image_with_para {
        width: 49%;
    }
    .image_with_para_parent {
        margin-top: 1rem;
        padding: 0 1rem;
        grid-row-gap: 1rem;
    }
}

@media (max-width: 360px) {
    .image_with_para_parent {
        margin-top: 1rem;
        /* padding: 0 1rem; */
        padding: 0;
        grid-row-gap: 1rem;
    }
    .image_with_para {
        width: 100%;
    }
    .line {
        display: none;
    }
    .brand_container {
        padding: 30px;
    }
    .ham-toggle {
        top: 2.2rem;
    }
    .basic_intro {
        margin-top: 2rem;
    }
    .corousal {
        height: 200px;
    }
    .portfolio {
        margin-top: 2rem;
    }
    .rise_to_height {
        font-size: 12px;
    }
    .basic_intro_child {
        padding: 0rem 2rem;
    }
    .basic_intro_desc {
        font-size: 12px;
        text-align: start;
        margin-top: 0.5rem;
    }
    .why_we_heading {
        font-size: 16px;
    }
    .about_us_heading {
        font-size: 16px;
    }
    .why-we_ans {
        font-size: 12px;
        text-align: start;
        margin-top: 0.5rem;
    }
    .portfolio_desc {
        font-size: 12px;
        padding: 0 2rem;
        text-align: start;
        margin-top: 0.5rem;
    }
    .portfolio_child {
        font-size: 16px;
    }
    .contact-desc {
        font-size: 12px;
        padding: 0;
        text-align: start;
        margin-top: 0.5rem;
    }
    .last-section {
        padding: 0 2rem;
        margin-top: 2rem;
    }
    .number_div {
        font-size: 16px;
    }
    .description {
        font-size: 12px;
    }
    #list__func {
        font-size: 12px;
    }
    .contact {
        font-size: 16px;
        margin-bottom: 0;
    }
    .corousal_nav {
        left: 35.5%;
    }
    .brand_container>div {
        width: 34%;
        display: flex;
        justify-content: center;
    }
    .about_us_paragraph p {
        font-size: 12px;
        padding: 0 2rem;
        text-align: start;
        margin-top: 0.5rem;
    }
    .about_us {
        margin-top: 9rem;
    }
    section .p1 {
        font-size: 16px;
    }
    .second_image {
        transform: translateY(1rem);
    }
    .two_paragraph {
        margin-top: 2rem;
    }
    section .p2 {
        font-size: 12px;
        padding: 0px 30px;
        margin-top: 0.5rem;
        text-align: start;
    }
    .downImg_container {
        grid-row-gap: 1rem;
    }
    .img-con.first_img img {
        width: 30px;
    }
    .basic_info {
        font-size: 16px;
    }
    .img-con img {
        width: 3rem;
    }
    .advanced_info {
        font-size: 11px;
    }
    .functionality_container {
        padding: 0rem 2rem;
        grid-row-gap: 1rem;
    }
    .short_desc {
        width: 100%;
    }
    .functionality_div {
        width: 100%;
    }
    .brand_container>div>img {
        width: 72%;
    }
    .brand_container {
        padding: 0px;
        height: 85px;
    }
    .acccordian_self-made {
        padding: 0rem 2rem 2rem 3rem;
    }
    /* .some_detail_description {
        height: 40px;
    } */
    /* .last_address {
        margin-left: 0.5rem;
    } */
}